@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

/* NEW CSS */

body {
    font-family: 'Lato', sans-serif;
}

nav {
    text-decoration: none;
    background-color: #bfbfbf;
    text-align: center;
    padding: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgba(141, 141, 141, 0.5);
}

ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li{
    display: inline-block;
    font-size: 24px;
}

li a{
    display: block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}

.logo {
  float: left;
  margin: 10px;
}

.home-banner {
    width: 100%;
}

.box1 {
    width: 100%;
    background-color: #ededed;
    color: #414141;
}

p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-size-adjust: 0.25em;
    position: relative;
    top: 0px;
}

.box2 {
    display: table;
    width: 100%;
    height: 300px;
    background-color: #dbdbdb;
}

.box2 span {
  display: table-cell;
}

.FirstCarText {
  float: right;
  width: 50%;
  padding-right: 25px;
  position: relative;
  top: 0px;
}

.box3 {
  display: table;
    width: 100%;
    height: 300px;
    background-color: #ededed;
}

.box3 span {
  display: table-cell;
}

.SecondCarText {
  float: left;
  width: 50%;
  padding-left: 25px;
}

.box4 {
    display: table;
    width: 100%;
    height: 300px;
    background-color: #dbdbdb;
}

.box4 span {
  display: table-cell;
}

.ThirdCarText {
  float: right;
  width: 50%;
  padding-right: 25px;
}
